*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fira code;
    font-size: .85rem
}

.cards{
    background-color: #282828;
    width: calc(100% / 5 - 20px);
    margin: 10px;
    padding: 20px;
    /* max-height: 400px; */
    height: 350px;
    overflow-y: auto;
    color: rgb(207, 207, 207);
}

.img-box{
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1/1;
}

.img-box img{
    width: 100%
}

.box{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

body{
    background-color: #121212 !important;
}


@media screen and (max-width: 1200px) {
    .cards{
        width: calc(100% / 3 - 20px)
    }
}

@media screen and (max-width: 992px) {
    .cards{
        width: calc(100% / 4 - 20px)
    }
}

@media screen and (max-width: 576px) {
    .cards{
        width: calc(100% / 2 - 20px)
    }
}

@media screen and (max-width: 450px) {
    .cards{
        width: calc(100% / 1 - 20px);
        height: auto
    }
}